// ngs-variant pipeline configuration

profiles {
    test {
        params.reads     = "${projectDir}/data/test/*_R{1,2}.fastq.gz"
        params.reference = "${projectDir}/data/test/reference.fa"
        params.outdir    = "${projectDir}/results_test"
        params.min_qual  = 20
    }
    conda {
        conda.enabled    = true
    }
    docker {
        docker.enabled   = true
        process.container = 'bioport:latest'
    }
}

process {
    cpus   = 2
    memory = '4 GB'
    errorStrategy = 'retry'
    maxRetries = 1
}
